<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<div class="test">{{roomsList}}</div>
<ion-content padding>
  <ion-list>
  <button ion-item *ngFor="let roomList of roomsList" (click)="itemSelected(roomList)">
    {{roomList.roomName}}
  </button>
</ion-list>
</ion-content>
