<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Room Intruders List!</h2>
  <p>
    The dashboard below depicts number of intruders into server rooms.
  </p>
  <div id="container" style="display: block;"></div>
</ion-content>
